* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(221, 221, 221);
  background-color: rgb(66, 78, 90);
}

a {
  color: rgb(221, 221, 221);
  text-decoration: none;
}

.top-navi {
    border: solid red;
    display: flex;
    justify-content: space-between;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
}

.navi {
  position: static;
  border: solid blue;
  min-width: 50%;
}
